#growlcontainer{
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1000;
  font-size: 12px;
  width: 300px;
}
.growlstatus{
  position: relative;
  background-color: #000; /*fallback for ie*/
  background-color: rgba(0, 0, 0, 0.8);
  border: 3px #000 solid;
  border: 3px rgba(255, 255, 255, 0.8) solid;
  padding: 15px;
  color: #fff;
  margin-bottom: 5px;
  
  border-radius:6px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}
.growlstatus .growltitle{
  font-weight: bold;
  margin-bottom: 5px;
}
.growlstatus-close{
  position: absolute;
  top: -15px;
  right: -15px;
  width:30px;
  height:30px;
  cursor: pointer;
  display: none;
  background: transparent url(images/growlclose.png) no-repeat;
}
.growlstatus:hover{
  background-color: rgba(0, 0, 0, 0.9);
  border: 3px #fff solid;
}
.growlstatus:hover .growlstatus-close{
  display: block;
}